# Visual Studio 2015 user specific files
.vs/
.vscode/

# Compiled Object files
*.slo
*.lo
*.o
*.obj





# Logs
Logs/




# Binary Files
[Bb]in/*
[Oo]bj/*



# Build results
[Dd]ebug/
[Rr]elease/
x64/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.log
*.vspscc
*.vssscc
.builds

#Others

# Executables
*.exe
*.out
*.app
*.ipa

# Compiled Dynamic libraries
*.so
*.dylib
*.dll