@model MvcTpv.Models.Input

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Input</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InputID" />
            <div class="form-group">
                <label asp-for="Fecha_hora" class="control-label"></label>
                @* <input asp-for="Fecha_hora" class="form-control" />
                <span asp-validation-for="Fecha_hora" class="text-danger"></span> *@
                <div>@Html.DisplayFor(model => model.Fecha_hora)</div>
            </div>
            <div class="form-group">
                <label asp-for="Tipo_Comprobante" class="control-label"></label>
                <input asp-for="Tipo_Comprobante" class="form-control" />
                <span asp-validation-for="Tipo_Comprobante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="serie_comprobante" class="control-label"></label>
                <input asp-for="serie_comprobante" class="form-control" />
                <span asp-validation-for="serie_comprobante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="num_comprobante" class="control-label"></label>
                <input asp-for="num_comprobante" class="form-control" />
                <span asp-validation-for="num_comprobante" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Impuesto" class="control-label"></label>
                <input asp-for="Impuesto" class="form-control" />
                <span asp-validation-for="Impuesto" class="text-danger"></span>
            </div>

            <div class="form-group">
               <label asp-for="TotalInput" class="control-label"></label>
                                @*<input asp-for="TotalInput" type="number" class="form-control"
            />
        <span asp-validation-for="TotalInput" class="text-danger"></span>*@

             <div>@Html.DisplayFor(model => model.TotalInput)</div>
            </div>
            <div class="form-group">
                <label asp-for="Provider" class="control-label"></label>
                <select asp-for="ProviderID" class ="form-control" asp-items="ViewBag.ProviderID">
                    <option value="">-- Selecciona Proveedor --</option>
                </select>
                <span asp-validation-for="ProviderID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-warning"  />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-default">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
